docs/n8n-targeted-discovery.json
{
  "name": "Urban Manual - Targeted City Discovery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discovery-trigger",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "webhookId": "discovery-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.URBAN_MANUAL_URL }}/api/discovery/fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  city: $json.body?.city || undefined,\n  cities: $json.body?.cities || undefined,\n  category: $json.body?.category || undefined,\n  minRating: $json.body?.minRating || 4.0,\n  limit: $json.body?.limit || 20\n}) }}"
      },
      "id": "fetch-places",
      "name": "Fetch Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.URBAN_MANUAL_URL }}/api/discovery/candidates?limit=5",
        "options": {}
      },
      "id": "get-recent",
      "name": "Get Recent Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "values": {
          "object": [
            {
              "name": "result",
              "value": "={{ {\n  success: true,\n  inserted: $('Fetch Places').item.json.inserted,\n  total_found: $('Fetch Places').item.json.total_found,\n  already_exists: $('Fetch Places').item.json.already_exists,\n  cities_processed: $('Fetch Places').item.json.cities_processed,\n  pending_candidates: $('Get Recent Candidates').item.json.total,\n  review_url: $vars.URBAN_MANUAL_URL + '/admin/discover'\n} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.result }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Places": {
      "main": [
        [
          {
            "node": "Get Recent Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Candidates": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "variables": [
    {
      "key": "URBAN_MANUAL_URL",
      "value": "https://www.urbanmanual.co"
    }
  ]
}
